body,td,p,text,textarea { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
.solid {border:1px; border-color:silver; border-style:solid;}
#top { visibility: visible; position: absolute; z-index: 0; top: 0px; left: 0px; width: 100%; text-align: center; }
#main { visibility: visible; position: relative; z-index: 0; top: 0px; left: 0px; width: 820px; margin-left:auto; margin-right:auto;}
#links { visibility: visible; float: left; width: 392px; margin: 0px 5px 0px 0px; text-align: left; padding: 5px; }
#rechts { visibility: visible; float: left; width: 393px; margin: 0px 0px 0px 5px; text-align: left; padding: 5px; }
#bild { visibility: visible; display: inline; float: left; position: relative; top: 0; width: 150px; margin: 0px 0px 0px 0px; vertical-align: top; }
h1 { color: #ffffff; font:24px Verdana, Arial, Helvetica, sans-serif; font-weight: bold; padding-top: 15px;}
h2 { color: red; font:18px Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
h3 { color: limegreen; font: 800 16px Verdana, Arial, Helvetica, sans-serif; }
h4 { color: red; font: 800 16px Verdana, Arial, Helvetica, sans-serif; }
h5 { color:darkslategrey; font: 600 14px Verdana, Arial, Helvetica, sans-serif; }

.preis {text-align: right, }
#linksklein { visibility: visible; float: left; width: 230px; margin: 0px 5px 0px 0px; text-align: left; padding: 5px; }
#rechtsklein { visibility: visible; float: left; width: 230px; margin: 0px 0px 0px 5px; text-align: left; padding: 5px; }
label { color:#2f2f2f; font:14px Verdana, Arial, Helvetica, sans-serif; font-weight: 700;}
select {margin-top: 10px;}

.small-label {
    font-size: 0.9em;
}

a, a:active, a:visited {
    color: #000080;
    text-decoration: none;
}

a:hover {
    color: red;
}

.text-area {
    margin: 4px 0;
}

.hidden{
   display:none;
}
.show{
   display:block;
}

.message-box {
    border: 1px solid gray;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.msg-success {
    background: darkseagreen;
}

.msg-warning, .msg-noproducts {
    background: darkorange;
}

.msg-noproducts {
    color: white;
}

.msg-error {
    background: indianred;
}

.error {
    border: 1px solid red !important;
    box-shadow: 0 0 4px red;
}

#product-list,ul {
    background: #efefef;
    list-style-type: none;
    padding-left: 4px;
}
#product-list,li {
    padding: 2px 0 2px 2px;
}

.trans-direction {
    position: relative;
    top: -12px;
    padding-right: 5px;
    font-weight: bold;
}

.disabled {
    background: #f0f0f0;
    border: 1px solid #afafaf;
    color: #8f8f8f;
}